  <div>
      <form class="form">
        <div>
          <!-- Name -->
          <mat-form-field class="name">
            <mat-label>Name</mat-label>
            <input id="name" matInput placeholder="Ex.: Jonh Matters Stwart" required [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
            @if (stateControl.hasError('required')) {
              <mat-error>Please fill the User name</mat-error>
            }
          </mat-form-field>
          <!-- Age --> 
          <mat-form-field class="age">
            <mat-label>Age</mat-label>
            <input id="age" matInput placeholder="Ex. 27" required [(ngModel)]="age" [ngModelOptions]="{standalone: true}">
            @if (stateControl.hasError('required')) {
              <mat-error>Please fill the User Age</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="mb3">
          <button id="btnSave" type="submit" class="btn btn-primary" (click)="saveRecords()">Save</button>
        </div>
    </form>
</div>